body
{
    background-color: #f8f9fa!important;
}
center img{
    margin-top: 50px; 
    height: 72px; width: 72px;
    margin: 25px;
}

.left
{
    float: left;
    width: 65%;
}
.right
{
    float: right;
    width: 30%;
    margin-top: 10px;
   
}


.btndown
{
    margin: 35px;
}

footer center .gray
{
    color: gray;
    
}
